p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

:root {
  --thm-color: lightgoldenrodyellow;
}

.theorem {
  background-color: var(--thm-color);
}

.hypothesis {
  background-color: var(--thm-color);
}

.definition {
  background-color: var(--thm-color);
}

.exercise {
  background-color: var(--thm-color);
}
